@media (min-width: 1200px)
.cont {
    width: 100%;
    height:100%;
}

@media (min-width: 1200px)
#cont {
    width: 100%;
    height:100%;
}

.page{
    display:flex;
      flex-direction: column;
        align-items: center;
    text-align: center;
    padding-top: 100px;
    
    padding-bottom: 100px;
    
    width:85%;
    background-color:black;

}

.feat{
font-size: 18px;
    color: #428bca;
  margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}
.feat:hover{
background-color: #e6e6e6;
cursor:default;
}

h1{
  text-align: center;
  font-family: inherit;
    font-weight: 500;
  font-size: 63px;
    margin-top: 20px;
    margin-bottom: 10px;
  
}

@media only screen and (min-width : 1200px) {

h2{

font-family: Helvetica, Arial, sans-serif;

  top:10% !important;
  color:white !important;
  font-size:60px !important;
}

h3{
margin-left: 120px;
margin-bottom: -15px !important;
}


body {
    display:flex;
      flex-direction: column;
        align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin:auto;
}

.cont{
  display:flex;
      flex-direction: column;
        align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin:auto;
    width: 100%;
    height:100%;

}

#cont {
    width: 100%;
    height:100%;
}

a, a:link, a:visited, a:active{
  border:0!important;
      text-decoration: none!important;
color:#777;
font-family: sans-serif;

}



#piechart{
  position:relative;
  left:200px;
  bottom:210px;
}

.navbar{
  
  width:100%;
  
  
background-color: #e6e6e6;


  height:55px;
  padding-bottom: 18px!important;
   margin-bottom: 0px!important;

}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;

}

.btnnav{

display: block;
float:right;
padding-left: 20px;
margin-top:-13px;
cursor:pointer;
}

#btnsnav{
  position:relative;

 left:60%;

width:500px;

text-align:right; 
}

.btn-danger{
  position:relative;
  top:160px;
  right:160px;
  
}

.header{
  display:flex;
      flex-direction: column;
        align-items: center;
  width:100%;
  height:250px;
  background-color:blue;

}

.form-control {
    display: block;
    width: 100%;
    height: 37px;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

}

input, button {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
}

.invisible{
  display:none;
}

}